<!-- Log In Modal   --> 
 <a class="waves-effect waves-light btn modal-trigger" href="#modalLogIn">Log In</a>

<div id="modalLogIn" class="modal">
    <div class="modal-content">
      <h4>Please Log In</h4>

      <div class="row">
        <div class="input-field col s12">
          <input id="Log_In_email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="Log_In_password" type="password" class="validate">
          <label for="password">Password</label>
      	</div>
      </div>

   	</div>
   	
   	<div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>


<!-- Sign Up Modal   --> 
 <a class="waves-effect waves-light btn modal-trigger" href="#modalSignUp">Sign Up</a>

<div id="modalSingUp" class="modal">
    <div class="modal-content">
      <h4>Please Sign In</h4>

      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
      	</div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="confirm_password" type="password" class="validate">
          <label for="confirm_password">Confirm Password</label>
      	</div>
      </div>

   	</div>

   	<div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>